/* GLOBAL STYLES */
#myDIV {
    width: 100%;
    padding: 25px;
    color: green;
    font-size: 12px;
}

body {
  background: black;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: darkgreen;
  font-family: fantasy;
  font-size: 60px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
  typing 3.5s steps(30, end),
  blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: darkgreen}
  50% { border-color: green }
}
figcaption {
  border-color: green;
  border-style: solid;
  border-width: 1px;
  color: green;
}
#colombia1 {
  position: relative;
  top: 10px;
  left: 4px;
  height: 350px; 
  width: 450px;
}
#colombia2 {
  position: relative;
  top: -150px;
  left: 250px;
  height: 350px; 
  width: 450px;
}
#colombia3 {
  position: relative;
  top: -320px;
  left: 500px;
  height: 350px; 
  width: 350px;
}
#colombia4 {
   position: relative;
  top: -300px;
  left: 245px;
  height: 350px; 
  width: 350px;
}
#colombia5 {
  position: relative;
  top: -490px;
  left: 10px;
  height: 350px; 
  width: 420px;
}
#colombia6 {
  position: relative;
  top: -640px;
  left: 450px;
  height: 350px; 
  width: 420px;
}