/*Country & State 
image & title positioning CSS:
*/

#colombia {
  position: relative;
  bottom: -50px;
  left: 210px;
  width: 650px;
  height:420px;


}
#nj {
  position: relative;
  bottom: 120px;
  left: -60px;
  width: 650px;
  height:420px;

}

#ny {
  position: relative;
  bottom: -20px;
  left: 320px;
  width: 600px;
  height:400px;

}


#italy {
  position: relative;
  bottom: 300px;
  left: -150px;
  width: 650px;
  height:420px;
}

#greece {
  position: relative;
  bottom: -5px;
  left: 350px;
  width: 600px;
  height:400px;
}

#vienna {
  position: relative;
  bottom: -30px;
  left: 200px;
  width: 600px;
  height:400px;
}
#tanzania {
  position: relative;
  bottom: -50px;
  left: 350px;
  width: 600px;
  height:400px;
}


#kenya {
  position: relative;
  bottom: 125px;
  left: -120px;
  width: 500px;
  height: 400px;
}


#vietnam {
  position: relative;
  bottom: -25px;
  left: 200px;
  width: 1000px;
  height: 600px;
}


#thailand {
  position: relative;
  bottom: 265px;
  left: -130px;
  width: 1100px;
  height: 500px;
}
/* CSS for
  font
*/
/*custom animation code*/
@-webkit-keframes spin-right{
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

body { background-color: black; }
div {
  font-size: 63px;
  font-family: fantasy;
  text-transform: uppercase;
  color: aqua;
}
div p { margin:0; }
#title:hover { text-shadow: 0 0 200px aqua,0 0 80px green,0 0 6px black; }
#code:hover { text-shadow: 0 0 100px aqua,0 0 40px green,0 0 8px aqua; }
#title {
  color: red;
  text-shadow: 0 0 80px aqua,0 0 30px lightblue,0 0 6px green;
}
/*title is the name of the class*/
#title span {
  animation: upper 11s linear infinite;
}
#code span:nth-of-type(2) {
  animation: lower 10s linear infinite;
}
#code span:nth-of-type(1) {
  text-shadow: none;
  opacity:.4;
}
/*specifies animation code*/
@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99; text-shadow: 0 0 80px green,0 0 30px aqua,0 0 6px green;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none; 
  }
}
@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px blue,0 0 30px darkblue,0 0 6px aqua;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}